/*
Dark Grey - #1c1c1c rgb(28,28,28)
Medium Grey - #676465 rgb(103,100,101)
Light Grey - #e6e4e4 rgb(230,228,228)
Purple - #3e2269 rgb(62,34,105)
*/

/*
xs 0-479px
sm 480-767px
md 768-991px
lg 992-1199px
xl 1200+
*/

/*General*/



body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focused {
    outline: none;
}

.section-title {
    border-bottom: 5px solid #3e2269;
    color: #3e2269;
    font-size: 30px;
    font-weight: 700;
    margin-left: 70px;
    padding-top: 20px;
    text-transform: uppercase;
    width: 50px;
}

.hr--left {
    border-top: 5px solid #3e2269;
    bottom: -2.5px;
    margin: 0px;
    width: 75%;
}

.hr--right {
    border-top: 5px solid #3e2269;
    bottom: -2.5px;
    margin: 0px;
    position: absolute;
    right: 0;
    width: 75%;
    z-index: 4;
}

.ghost {
    display: none;
}

.hidden {
    visibility: hidden;
}


.animated {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.loading-screen {
    align-items: center;
    background-color: #1c1c1c;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.loading-screen__loader {
    border: 8px solid #e6e4e4; /* Light grey */
    border-top: 8px solid #3e2269; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}