/*
Dark Grey - #1c1c1c rgb(28,28,28)
Medium Grey - #676465 rgb(103,100,101)
Light Grey - #e6e4e4 rgb(230,228,228)
Purple - #3e2269 rgb(62,34,105)
*/

/*
xs 0-575px
sm 576-767px
md 768-991px
lg 992-1199px
xl 1200+

iphone x - 375
ipad - 768
ipad pro - 1024
macbook - 1440px
*/



/*Navbar*/

.menubar {
    background-color: rgba(28,28,28, 0.8);
    display: none;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 7;
}

.menubar__toggler {
    align-items: center;
    background-color: #3e2269;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 8;
}

.menubar__toggler-label {
    font-size: 16px;
}

.menubar__pullout {
    align-items: flex-start;
    background-color: #3e2269;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
    margin-left: auto;
    padding-left: 40px;
    width: 0%;
}

.menubar__link {
    cursor: pointer;
}

.menubar__link:not(:last-of-type) {
    margin-bottom: 60px;
}

.menubar__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menubar__link:hover, .menubar__close:hover{
    color: #676465;
}

.menubar__list {
    align-items: flex-end;
    display: flex; 
    font-size: 22px;
    position: absolute;
    justify-content: space-between;
    right: 40px;
    top: 45px;
    width: 25%;
    z-index: 6;
}

.menubar__list-link:hover {
    color: #e6e4e4;
    cursor: pointer;
}

@media(max-width: 1199px) {
     .menubar__list {
        display: none;
    }   
}

@media(max-width:575px) {
    .menubar.expand .menubar__pullout {
        width: 100%;
    }
}


/*Landing Pre-Scroll*/
.landing.pre-scroll > .landing__image {
    left: 5%;
    opacity: 0;
}

.landing.pre-scroll > .landing__accent-block--purple {
    top: 35%;
    opacity: 0;
}

.landing.pre-scroll > .landing__accent-block--mgrey {
    top: 52vh;
    top: calc(var(--vh, 1vh) * 52);
    opacity: 0;
}


/*Landing*/

.landing {
    display: flex;
    min-height: 100%; /*fallback*/
    min-height: 145vh; /*Switch to 100% + pixels*/
    height: calc(var(--vh, 1vh) * 145);
    position: relative;
    width: 100%;
}

.landing__accent-block--dgrey {
    background-image: url('/assets/images/landing-background.svg');
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    width: 100%;
}

.landing__image {
    background-image: url(/assets/images/landing-photo.png);
    background-position: 42% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 15px solid #3e2269;
    height: calc(100vh - 40px); /*This should match top*/
    height: calc(var(--vh, 1vh) * 100 - 40px);
    left: 8%; /*This should match right on block--mgrey*/
    opacity: 1;
    position: absolute;
    top: 40px;
    width: 43%;
    z-index: 2;
}

.landing__accent-block--purple {
    background-color: #3e2269;
    left: 43%;
    opacity: 1;
    padding: 30px;
    position: absolute;
    top: 35vh;
    top: calc(var(--vh, 1vh) * 35);
    width: 35%;
    z-index: 3;
    
}

.landing__title {
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.landing__subtitle {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-transform: uppercase;
}

.landing__hr {
    border-top: 1px solid white;
    margin: 30px 0px;
    width: 100px;
}

.landing__tagline {
    color: white;
    font-size: 20px;
}


.landing__accent-block--mgrey {
    background-color: #676465;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 8%; /*this should match left on image*/
    opacity: 1;
    padding: 55vh 35px 35px 35px; /*padding top needs to be 100 - top + 5*/
    padding-top: calc(var(--vh, 1vh) * 55);
    position: absolute;
    top: 50vh;
    top: calc(var(--vh, 1vh) * 50);
    width: 65%;
}

.landing__subsection-title {
    font-size: 30px;  
}

.landing__subsection-body {
    font-size: 18px;  
}


@media(max-width:1199px) {
    .landing__image {
        left: 5%;
        width: 66%;
    }
    
    .landing__accent-block--dgrey {
        top: 120px;
    }
    
    .landing__accent-block--purple {
        top: 44vh;
        top: calc(var(--vh, 1vh) * 44);
        width: 40%;
    }
    
    .landing__accent-block--mgrey {
        right: 5%;
    }
}



@media(max-width: 991px) {
    
    .landing {
        height: 150vh;
        height: calc(var(--vh, 1vh) * 150);
    }
    
    .landing__accent-block--mgrey {
        width: 73%;
    }
    
    .landing__accent-block--purple {
        left: initial;
        right: 14%;
        padding: 40px;
        top: 50vh;
        width: 50%;
    }
    
    .landing__accent-block--mgrey {
        padding-top: 45vh;
        padding-top: calc(var(--vh, 1vh) * 45);
        top: 60vh;
        top: calc(var(--vh, 1vh) * 60);
    }
}



@media(max-width: 767px) {
    
    .landing {
        height: 170vh;
        height: calc(var(--vh, 1vh) * 170);
    }
    
    .landing__image {
        left: 3%;
        height: 90vh;
        height: calc(var(--vh, 1vh) * 90);
        top: 40px;
        width: 82%;
    }
    
    .landing__accent-block--dgrey {
        top: 0;
    }
    
    .landing__accent-block--purple {
        left: 0;
        top: 56vh;
        top: calc(var(--vh, 1vh) * 56);
        width: 70%;
    }

    
    .landing__accent-block--mgrey {
        padding-top: 69vh;
        padding-top: calc(var(--vh, 1vh) * 69);
        top: 36vh;
        top: calc(var(--vh, 1vh) * 36);
        right: 0;
        width: 80%;
    }
}


@media(max-width:575px){
    
    .landing {
        height: 210vh;
        height: calc(var(--vh, 1vh) * 210);
    }
    
    .landing__accent-block--purple {
        padding: 20px;
        top: 66vh;
        top: calc(var(--vh, 1vh) * 66);
        width: 90%;
    }
    
     .landing__title {
        font-size: 30px;
    }
    
    .landing__subtitle {
        font-size: 14px;
    }
    
    .landing__tagline {
        font-size: 16px;
    }
    
    .landing__hr {
        margin: 15px 0px;
    }
    
    .landing__image {
        border-left-width: 0px;
        height: 86vh;
        height: calc(var(--vh, 1vh) * 86);
        left: 5%;
        top: 37px;
        width: 80%;
    }
    
    .landing__accent-block--mgrey {
        padding: 69vh 20px 20px 20px;
        padding-top: calc(var(--vh, 1vh) * 69);
        width: 75%;
    }
    
    .landing__subsection-title {
        font-size: 20px;
    }
    
    .landing__subsection-body {
        font-size: 14px;
    }

}




/*Work*/

.work {
    position: relative;
}

.work__tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
}



/*
.work__tile is the container - width and height are fixed
.work__tile-inner hold the image - will expand on hover
.work__tile-inner::before controls the grey overlay, translucent
.work__tile-link are the words that appear/disappear, full opacity
*/

.work__tile {
    height: 30vw;
    overflow: hidden;
    cursor: pointer;
    margin-top: -80px;
    opacity: 0;
    position: relative;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.work__tile.post-scroll {
    margin-top: 0px;
    opacity: 1
}

.work__tile-large {
    width: 33.3333%;
}

.work__tile-small {
    width: 33.3333%;
    
}

.work__tile-inner {
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.work__tile-inner::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.9);

}
    
.work__tile-link {
    color: #ffffff !important;
    cursor: pointer;
    display: none;
    font-size: 30px;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    text-align: center;
    width: 80%;
}


.work__tile:hover .work__tile-inner {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
    
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.work__tile:hover .work__tile-inner::before,
.work__tile:focus .work__tile-inner::before,
.work__tile:hover .work__tile-link,
.work__tile:focus .work__tile-link
{
    display: block;
}


#tracer { background-image: url(/assets/images/work/tracer/tracer-tile.jpg)}
#aaum { background-image: url(/assets/images/work/aaum/portfolio-thumbnail-aaum.png)}
#jira { background-image: url(/assets/images/work/jira/jira-tile.jpg)}
#ifp { background-image: url(/assets/images/work/ifp/ifp-tile.jpg)}
#cchs { background-image: url(/assets/images/work/cchs/portfolio-thumbnail-cchs.png)}
#hk { background-image: url(/assets/images/work/hk/hk-tile.png)}
#analytics { background-image: url(/assets/images/work/analytics/analytics-tile.jpg)}
#medicare { background-image: url(/assets/images/work/medicare/medicare-tile.jpg)}
#dxs { background-image: url(/assets/images/work/dxs/dxs-tile.jpg)}

@media(max-width: 990px) {
    .work__tiles {
        padding: 50px 30px;
    }
    
    .work__tile {
        height: 30vw;
    }
    
    .work__tile-large, .work__tile-small {
        width: 50%;
    }
    
    .work__tile-link {
        display: none;
    }
    
    .work__tile:hover .work__tile-inner::before,
    .work__tile:focus .work__tile-inner::before,
    .work__tile:hover .work__tile-link,
    .work__tile:focus .work__tile-link
    {
        display: block;
    }

}


@media(max-width: 768px) {
    
    .work__tile {
        height: 300px;
        margin-bottom: 20px;
    }
    
    .work__tile-large, .work__tile-small {
        width: 100%;
    }
}

/*Contact*/

.contact {
    background-image: url('/assets/images/contact-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 90px;
    position: relative;
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    margin: 0 auto; 
    width: 60%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact__form-submit {
    background-color: rgba(62,34,105, 0.8);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
/*    border: 1px solid white;*/
/*    border-radius: 3px;*/
/*    padding: 5px 15px;*/
    margin-top: 30px
}

.contact__form-submit:hover {
    background-color: rgba(62,34,105, 0.6);
}

.contact__form-submit.disabled {
    background-color: #e6e4e4;
    color: #1c1c1c;
    cursor: default;
    pointer-events: none;
}

.form-group {
    margin-bottom: 30px;
}

.contact__form-title {
    border-bottom: 5px solid white;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 50px;
}

.contact__accent-block-purple {
    align-items: flex-start;
    background-color: #3e2269;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    padding: 30px 30px 100px 30px;
    right: 16%;
    top: 30%;
    width: 18%;
    z-index: 3;   
}

.contact__link-row {
    display: flex;
}

.contact__link-icon {
    color: white;
    font-size: 20px;
    line-height: 1;
    padding-right: 20px;
}

.contact__link-label {
     border-bottom: 1px solid transparent;
    color: white;
    font-size: 20px;
    line-height: 1;
}

a.contact__link-row:hover > .contact__link-label{
    border-bottom-color: white;
}


.social-links{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.contact__link-icon {
    color: #1c1c1c;
    font-size: 30px;
    margin: 0px 10px;
}

@media(max-width: 990px) {
    .contact__form {
        padding: 50px;
    }
    
    .contact__accent-block-purple {
        height: initial;
        padding: 30px;
        right: 8%;
        top: 35%;
        width: 25%
    }
    
    .contact__link-row {
        margin-bottom: 50px;
    }
    
}

@media(max-width: 767px) { 
    .contact {
        height: inherit;
    }
    
    .contact__form {
        background-color: transparent;
        left: 0;
        padding: 30px;
        position: relative;
        top: inherit;
        width: 100%;
    }
    
    .contact__accent-block-purple {
        height: inherit;
        padding: 20px;
        position: relative;
        right: 0;
        top: inherit;
        width: 100%;
    }
    
    .contact__form-submit.disabled {
        background-color:  rgba(103,100,101, 0.4);
        color: white;
    }
}

@media(max-width: 575px) { 
    .contact {
        height: initial;
    }
    
    .contact__form {
        padding: 30px 10px;    
    }
    
    .contact__recaptcha {
        width: 20px;
    }
    
    .contact__link-row {
        margin-bottom: 20px;
    }    
}


/*Footer*/
.footer {
    background-color: #1c1c1c;
    height: 70px;
    width: 100%;
}




